.measure {
  margin: 0 auto;
  max-width: $measure-width;
}

.measure-header {
  margin: 0 auto;
  max-width: $measure-header;
}

.measure-footer {
  margin: 0 auto;
  max-width: $measure-footer;
}

.measure-post {
  margin: 0 auto;
  max-width: $measure-post;
}

.measure-page {
  margin: 0 auto;
  max-width: $measure-page;
}
